[project]
	description = V4L2 camera sensor drivers for linux
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Lei (alexvonduar)
[access "refs/for/refs/*"]
	read = group user/Alex Lei (alexvonduar)
	push = group user/Alex Lei (alexvonduar)
	label-Code-Review = -2..+2 group user/Alex Lei (alexvonduar)
	label-Verified = -1..+1 group user/Alex Lei (alexvonduar)
	rebase = group user/Alex Lei (alexvonduar)
	removeReviewer = group user/Alex Lei (alexvonduar)
	submit = group user/Alex Lei (alexvonduar)
[access "refs/heads/*"]
	read = group user/Alex Lei (alexvonduar)
	create = group user/Alex Lei (alexvonduar)
	push = +force group user/Alex Lei (alexvonduar)
	pushMerge = group user/Alex Lei (alexvonduar)
[access "refs/tags/*"]
	push = +force group user/Alex Lei (alexvonduar)
	pushTag = group user/Alex Lei (alexvonduar)
	pushSignedTag = group user/Alex Lei (alexvonduar)
